#instrucciones{
    text-align: left;
}

h1{
    display: inline;
}

#botones_de_instrucciones{
    float: right;
    color: red;
    background-color: lime;
}

#mario{
    width: 100%;
}

#mario_pug{
    background-color: red;
    color: cyan;
    font-size: large;
}

h3{
    color: brown;
    background-color: black;
    
}

.imagenes{
    width: 50%;
}

#controles{
    background: url("game_console.png");
    background-position: center;
    background-size: cover;
}

#canvas{
    background-color: darkblue;
}